<nav class="navbar navbar-default">
    <div>
        <ul class="nav navbar-nav">
            <li><a href="@Url.Action("Shoes", "Mens")">Shoes</a></li>
            <li><a href="@Url.Action("Trousers", "Mens")">Trousers</a></li>
            <li><a href="@Url.Action("Jumpers", "Mens")">Jumpers</a></li>
            <li><a href="@Url.Action("Jackets", "Mens")">Jackets</a></li>
            <li><a href="@Url.Action("Shirts", "Mens")">Shirts</a></li>
        </ul>
    </div>
</nav>